.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 18, 19, 0.4);
  z-index: 999;
}

.modal {
  position: relative;
  border-radius: 20px;
  padding: 40px;
  background-color: var(--btn-text-color);
  width: 982px;
  height: 720px;
  overflow-y: auto;
}

.iconCross {
  width: 32px;
  height: 32px;
  stroke: var(--main-text-color);
}

.closeBtn {
  position: absolute;
  right: 40px;
  top: 40px;
}
